name: ascent
description: "A blazing-fast Flutter mobile app for managing tasks, routines and focus sessions with intuitive gestures and smooth performance."
homepage: https://github.com/Gabbar-v7/Ascent
publish_to: "none" 

version: 0.0.01

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

  # Localizations 
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

  # UI & Widgets 
  gap: ^3.0.1

  # Database/Storage 
  sqlite3: ^2.4.6
  drift: ^2.29.0
  drift_flutter: ^0.2.7
  shared_preferences: ^2.5.3
  path_provider: ^2.1.5
  path: ^1.9.1

  # Utils 
  riverpod: ^3.0.3
  url_launcher: ^6.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  
  # Generator  => dart run builld_runner build
  build_runner: ^2.10.4
  drift_dev: ^2.29.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
